.todo {
  background-color: #845afc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 17px 0;
  padding: 5px 17px;
}
.todoItem {
  font-size: 30px;
  text-align: left;
}
.icons {
  display: flex;
  gap: 12px;
  font-size: 24px;
}
.deleteIcon:hover {
  color: red;
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}
.completeIcon:hover {
  color: greenyellow;
  transform: scale(1.2);
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}
.completedTodo {
  color: gray;
  border: gray;
  background-color: #654da7;
}
